<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caption Ready</title>
    <style>
        img{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        h3{
            text-align: center;
        }
    </style>
</head>
<body>
    <img src="/assets/pic.jpg" width="400px">
    <h3>Caption ==> <%=data%></h3>
</body>
</html>